<ng-container *transloco="let t">

  <!-- Login form -->
  <form [formGroup]="login_form" (submit)="submit()" fxLayoutAlign="stretch" fxLayout="column">

    <!-- Username input -->
    <mat-form-field color="accent">
      <mat-label>{{ t("loginForm.login") }}</mat-label>

      <!-- input -->
      <input matInput formControlName="username" style="padding: 0 0.75em 0 0.75em" required class="login-form-input" />
    </mat-form-field>

    <!-- Password input -->
    <mat-form-field color="accent">
      <mat-label>{{ t("loginForm.password") }}</mat-label>

      <!-- input -->
      <input matInput formControlName="password" type="password" style="padding: 0 0.75em 0 0.75em" required
        [type]="hide_password ? 'password' : 'text'" class="login-form-input" />

      <!-- Button for visibility -->
      <mat-icon matSuffix (click)="hide_password = !hide_password" class="login-form-password-icon">{{ hide_password ?
        "visibility" : "visibility_off" }}</mat-icon>
    </mat-form-field>

    <!-- Submit button -->
    <div fxLayout="row" fxLayoutAlign="center">
      <button mat-stroked-button color="accent" class="login-form-button" type="submit">
        {{ t("loginForm.loginButton") }}
      </button>
    </div>
  </form>
</ng-container>