.login-form-input {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  background-color: transparent !important;
}

.login-form-password-icon {
  cursor: pointer;
}

.login-form-button {
  font-size: 20px;
  border-radius: 20px;
  border-width: 4px;
  border-color: #ffc107 !important;
  width: 60%;
  margin-top: 20px;
}
