<ng-container *transloco="let t">
  <div fxLayoutAlign="center center" class="document-form-container">
    <mat-card fxFlex="35">
      <!-- card title -->
      <div *ngIf="isInEditMode; else uploadMode">
        <mat-card-header>
          <mat-card-title>
            {{ t("lazy.documentForm.headerEdit") }}
          </mat-card-title>
        </mat-card-header>
      </div>
      <ng-template #uploadMode>
        <mat-card-header>
          <mat-card-title>
            {{ t("lazy.documentForm.headerNew") }}
          </mat-card-title>
        </mat-card-header>
      </ng-template>
      <mat-divider></mat-divider>

      <mat-card-content class="document-form-content">
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-form-field style="width: 100%">
                <mat-label>{{ t("lazy.documentForm.titleLabel") }}</mat-label>
                <input matInput maxlength="50" formControlName="title" />
                <mat-error *ngIf="formTitle.errors?.titleExists">
                  Not available
                </mat-error>
              </mat-form-field>
            </div>

            <!-- authors title -->
            <div>
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="10px"
              >
                <mat-icon>person</mat-icon>
                <mat-card-title class="document-form-author">
                  {{ t("lazy.adminPage.author") }}
                </mat-card-title>
                <button
                  (click)="addContributor()"
                  type="button"
                  mat-icon-button
                  color="primary"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <!-- author -->
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="20px"
              >
                <mat-form-field fxFlex="40">
                  <mat-label>{{ t("lazy.adminPage.author-name") }}</mat-label>
                  <input matInput formControlName="authorName" />
                </mat-form-field>
                <mat-form-field fxFlex="40">
                  <mat-label>
                    {{ t("lazy.adminPage.author-surname") }}
                  </mat-label>
                  <input matInput formControlName="authorSurname" />
                </mat-form-field>
              </div>

              <!-- contributors -->
              <div
                formArrayName="contributors"
                *ngFor="
                  let item of uploadForm.get('contributors').controls;
                  let i = index
                "
                fxLayout="column"
              >
                <div
                  [formGroupName]="i"
                  style="width: 100%"
                  fxLayoutAlign="start center"
                  fxLayoutGap="20px"
                >
                  <mat-form-field fxFlex="40">
                    <mat-label>
                      {{ t("lazy.adminPage.contributor-name") }}
                    </mat-label>
                    <input matInput formControlName="name" />
                  </mat-form-field>
                  <mat-form-field fxFlex="40">
                    <mat-label>
                      {{ t("lazy.adminPage.contributor-surname") }}
                    </mat-label>
                    <input matInput formControlName="surname" />
                  </mat-form-field>
                  <button
                    (click)="deleteContributor(i)"
                    type="button"
                    mat-icon-button
                    color="primary"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
              </div>
            </div>

            <!-- feeds -->
            <div>
              <mat-card-title>{{ t("lazy.adminPage.feeds") }}</mat-card-title>
              <div
                fxLayout="row"
                fxLayoutAlign="start"
                fxLayoutGap="20px"
                class="document-form-feed-list"
              >
                <mat-chip-list>
                  <mat-chip
                    *ngFor="let feed of feeds"
                    [removable]="true"
                    (removed)="removeFeed(feed)"
                    [selectable]="false"
                    color="accent"
                    selected
                  >
                    {{ feed.title }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ t("lazy.adminPage.feeds-list") }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ t("lazy.adminPage.feeds-expansion") }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="treeDataSource.data.length == 0; else feedTree">
                  <div fxFill fxLayoutAlign="center center">
                    <mat-spinner [diameter]="35"></mat-spinner>
                  </div>
                </div>
                <ng-template #feedTree>
                  <mat-tree
                    [dataSource]="treeDataSource"
                    [treeControl]="treeControl"
                    class="document-form-feed-tree"
                  >
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <button
                          mat-flat-button
                          (click)="addFeed(node)"
                          type="button"
                        >
                          {{ node.title }}
                        </button>
                        <button
                          mat-icon-button
                          color="accent"
                          type="button"
                          (click)="addFeed(node)"
                        >
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                    </mat-tree-node>
                    <mat-nested-tree-node
                      *matTreeNodeDef="let node; when: isNavigationNode"
                    >
                      <div class="mat-tree-node">
                        <button
                          type="button"
                          mat-icon-button
                          matTreeNodeToggle
                          [attr.aria-label]="'Toggle ' + node.title"
                        >
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{
                              treeControl.isExpanded(node)
                                ? "expand_more"
                                : "chevron_right"
                            }}
                          </mat-icon>
                        </button>
                        {{ node.title }}
                      </div>
                      <div
                        [class.document-form-feed-tree-invisible]="
                          !treeControl.isExpanded(node)
                        "
                        role="group"
                      >
                        <ng-container matTreeNodeOutlet></ng-container>
                      </div>
                    </mat-nested-tree-node>
                  </mat-tree>
                </ng-template>
              </mat-expansion-panel>
            </div>

            <!-- summary -->
            <div>
              <mat-card-title>{{ t("lazy.adminPage.summary") }}</mat-card-title>
              <div fxLayout="row" fxLayoutAlign="start" fxFill>
                <mat-form-field fxFlex>
                  <textarea
                    matInput
                    class="document-form-summary-textfield"
                    formControlName="summary"
                  ></textarea>
                  <mat-hint>{{ t("lazy.adminPage.summary-hint") }}</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div *ngIf="!isInEditMode">
              <mat-card-title>{{ t("lazy.adminPage.image") }}</mat-card-title>
              <div
                mat-dialog-content
                class="document-form-dropzone"
                fxLayout="column"
                fxLayoutAlign="center center"
                dragAndDrop
                (fileDropped)="onImageDropped($event)"
              >
                <ng-template [ngIf]="!imageFile">
                  <input
                    type="file"
                    class="input-file"
                    accept=".png"
                    (change)="
                      imageSelectedFromBrowse(($event.target?.files)[0])
                    "
                  />
                  <h5 style="text-align: center">
                    {{ t("lazy.adminPage.image-dropper") }}
                  </h5>
                  <h6><i>(MAX 1MB)</i></h6>
                </ng-template>
                <ng-template [ngIf]="imageFile">
                  <h5>{{ imageFile?.name }}</h5>
                  <h6 *ngIf="checkImageSize()">
                    {{ formatFileSize(imageFile?.size) }}
                  </h6>
                  <h6 *ngIf="!validSize">
                    {{ t("lazy.adminPage.image-error") }}
                  </h6>
                  <button
                    mat-icon-button
                    class="btn-remove-file"
                    (click)="removeImage()"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </ng-template>
              </div>
            </div>

            <div *ngIf="!isInEditMode">
              <mat-card-title>{{
                t("lazy.adminPage.document")
              }}</mat-card-title>
              <div
                mat-dialog-content
                class="document-form-dropzone"
                fxLayout="column"
                fxLayoutAlign="center center"
                dragAndDrop
                (fileDropped)="onPDFDropped($event)"
              >
                <ng-template [ngIf]="!pdfFile">
                  <input
                    type="file"
                    class="input-file"
                    accept=".pdf"
                    (change)="PDFSelectedFromBrowse(($event.target?.files)[0])"
                  />
                  <h5 style="text-align: center">
                    {{ t("lazy.adminPage.document-dropper") }}
                  </h5>
                </ng-template>
                <ng-template [ngIf]="pdfFile">
                  <h5>{{ pdfFile?.name }}</h5>
                  <button
                    mat-icon-button
                    class="btn-remove-file"
                    (click)="removePDF()"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </ng-template>
              </div>
            </div>

            <button mat-raised-button color="primary" type="submit">
              <span *ngIf="isInEditMode">
                {{ t("lazy.adminPage.edit") }}
              </span>
              <span *ngIf="!isInEditMode">
                {{ t("lazy.adminPage.upload") }}
              </span>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <button
    class="document-form-back-btn"
    mat-raised-button
    color="primary"
    routerLink="/library/admin"
    type="button"
  >
    {{ t("lazy.adminPage.back-to-admin-button") }}
  </button>
</ng-container>
