.document-form-container {
  background-color: transparent !important;
  padding: 16px;
  flex: 1;
}

.document-form-back-button {
  padding: 0 20px;
}

.document-form-column {
  flex: 1;
}

.document-form-mat-card-author {
  height: 250px;
  overflow: auto;
}

.document-form-section-title-container {
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 1px solid;
}

.document-form-section-title {
  margin: 0;
}

.document-form-mat-card-feeds {
  height: 250px;
}

.document-form-summary-textfield {
  height: 100px;
}

.dragonzone-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.document-form-dropzone {
  height: 168px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
  border-radius: 5px;
  opacity: 0.5;
  position: relative;
  border: 1px dashed;

  h5 {
    font-weight: 300;
  }

  h6 {
    font-weight: 300;
    margin-top: 0.5rem;
  }

  .input-file {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .btn-remove-file {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.document-form-citation-textfield {
  height: 450px;
}

.document-form-submit-button {
  width: 100%;
  padding: 16px;
}
