<ng-container *transloco="let t">

  <!-- Title -->
  <h2 mat-dialog-title fxLayout="row" fxLayoutAlign="center" color="accent">{{ t("lazy.advancedSearchDialog.name") }}
  </h2>

  <!-- Dialog content -->
  <mat-dialog-content fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px">

    <!-- Form -->
    <form fxFill fxLayout="column" [formGroup]="advanced_form">

      <!-- Title -->
      <mat-form-field color="accent">
        <mat-label>{{ t("lazy.advancedSearchDialog.title") }}</mat-label>

        <!-- input -->
        <input matInput formControlName="title" />
      </mat-form-field>

      <!-- Author name -->
      <mat-form-field color="accent">
        <mat-label>{{ t("lazy.advancedSearchDialog.author") }}</mat-label>

        <!-- input -->
        <input matInput formControlName="author" />
      </mat-form-field>

      <!-- From -->
      <mat-form-field color="accent">
        <mat-label>{{ t("lazy.advancedSearchDialog.from") }}</mat-label>

        <!-- input -->
        <input matInput formControlName="from" />
      </mat-form-field>

      <!-- To -->
      <mat-form-field color="accent">
        <mat-label>{{ t("lazy.advancedSearchDialog.to") }}</mat-label>

        <!-- input -->
        <input matInput formControlName="to" />
      </mat-form-field>


      <!-- Feed title and picked on -->
      <div fxFill fxLayout="row" fxLayoutAlign="start center">
        {{ t("lazy.advancedSearchDialog.feed") }}
        <div *ngIf="picked_feed.title" fxLayoutAlign="center center" style="margin-left: 20px;">
          {{ picked_feed.title }}
          <mat-icon style="cursor: pointer; margin-left: 10px;"
            (click)="picked_feed = {title: '', id: ''}">cancel</mat-icon>
        </div>
      </div>

      <!-- Search feeds -->
      <form fxFill fxLayout="row" [formGroup]="search_form" fxLayoutAlign="start center" (submit)="searchFeed()">

        <!-- Title -->
        <mat-form-field color="accent" style="width: 100%;">
          <mat-label>{{ t("lazy.advancedSearchDialog.searchFeed") }}</mat-label>

          <!-- input -->
          <input matInput formControlName="search_input" />
        </mat-form-field>

        <!-- Button for submit -->
        <button mat-icon-button type="submit" color="accent">
          <mat-icon>search</mat-icon>
        </button>
      </form>

      <!-- Feeds list -->
      <div *ngIf="data_source.length > 0" fxLayout="row wrap" fxLayoutGap="10px" class="advanced-search-feed-container">
        <div *ngFor="let feed of data_source" (click)="pick(feed)" class="advanced-search-feed">
          {{ feed.title }}
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <!-- Action buttons -->
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">

    <!-- Cancel button -->
    <button mat-button mat-dialog-close color="accent">
      {{ t("lazy.advancedSearchDialog.cancel") }}
    </button>

    <!-- Find button -->
    <button mat-button mat-dialog-close color="primary" form="advanced_form" (click)="search()">
      {{ t("lazy.advancedSearchDialog.find") }}
    </button>
  </mat-dialog-actions>
</ng-container>