.header-box {
  padding: 30px 16px;
  width: 100%;
}

.paginator-size {
  width: 100%;
}

.document-form-field {
  width: 100%;
}

.document-form {
  width: 50%;
}

.document-container {
  flex: 1 1 auto;
  padding: 0 16px;
}

.document-entries-container {
  padding-bottom: 16px;
}
