.document-container {
  background-color: transparent !important;
  padding: 16px;
  padding-right: 0;
  margin-top: 10px;
  height: fit-content;
  flex: 1;
}

.header-box {
  padding: 20px 0;
  padding-right: 16px;
  width: 100%;
}

.document-form-field {
  width: 100%;
}

.document-form {
  width: 50%;
}

.entry-list-container {
  width: 100%;
  margin: 0 !important;
}

.paginator-size {
  width: 100%;
}
