.feed-page-container {
  background-color: transparent !important;
  padding: 16px;
  flex: 1;
}

.feed-page-search-form {
    width: 100%;
}
  
.feed-page-search-field {
    width: 50%;
    min-width: 200px;
}

.feed-page-search-button {
    margin: auto 0;
}

.feed-page-search-icon {
  font-size: 30;
}

.feed-page-feeds-container {
  margin-bottom: 16px;
}

.feed-page-search-delete-icon {
    position: absolute; 
    right: 0; 
    color: red; 
    font-size: 20px;
    cursor: pointer;
}

.feed-page-paginator {
  width: 100%;
}

@media screen and (max-width: 959px) {
  .feed-page-search-field {
    width: 80%; 
  }
}