.add-feed-feed-container {
  height: 150px;
  width: 100%;
  overflow: auto;
}

.add-feed-feed {
  padding: 5px 20px;
  background-color: #ffc107;
  border-radius: 20px;
  color: black;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-feed-feed:hover {
  background-color: rgba(#ffc107, 0.5);
}
