<ng-container *transloco="let t">
  <!-- Title -->
  <h2 mat-dialog-title fxLayout="row" fxLayoutAlign="center" color="accent">
    {{ t("lazy.addFeedDialog.title") }}
  </h2>

  <!-- Form -->
  <form
    fxFill
    fxLayout="row"
    [formGroup]="search_form"
    fxLayoutAlign="start center"
  >
    <!-- Title -->
    <mat-form-field color="accent" style="width: 100%">
      <mat-label>{{ t("lazy.addFeedDialog.search") }}</mat-label>

      <!-- input -->
      <input matInput formControlName="search_input" />
    </mat-form-field>
  </form>

  <!-- Content -->
  <mat-dialog-content>
    <!-- Feeds -->
    <div
      *ngIf="data_source.length > 0"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      fxLayoutGap="5px"
      class="add-feed-feed-container"
    >
      <div
        *ngFor="let feed of filteredFeeds"
        (click)="onYesClick(feed)"
        class="add-feed-feed"
      >
        {{ feed.title }}
      </div>
    </div>
  </mat-dialog-content>

  <!-- Action buttons -->
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">
    <!-- Cancel button -->
    <button mat-button mat-dialog-close color="accent">
      {{ t("lazy.addFeedDialog.cancel") }}
    </button>
  </mat-dialog-actions>
</ng-container>
