<ng-container *transloco="let t; read: 'landingPage'">
  <div fxLayout="column">
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="space-evenly"
      class="landing-page-main-row"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center"
        fxLayoutAlign.lt-md="center center"
        fxFlex="30"
        class="landing-page-title-column"
      >
        <div
          fxLayout="column"
          fxLayoutAlign="center"
          class="landing-page-title-container"
        >
          <h1 class="landing-page-title">Elvíra</h1>
          <p class="landing-page-site-description">
            {{ t("siteDescription") }}
          </p>
          <button
            mat-stroked-button
            color="accent"
            class="landing-page-login-button"
          >
            Login
          </button>
        </div>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center"
        fxLayoutAlign.lt-md="center center"
        fxFlex="50"
        class="landing-page-text-column"
      >
        <div
          fxLayout="column"
          fxLayoutAlign="space-evenly"
          fxLayoutGap="16px"
          class="landing-page-text-container"
        >
          <div fxLayout="row" class="landing-page-text-row-left">
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="10"
              fxFlex.lt-md="20"
            >
              <mat-icon class="landing-page-text-icon">menu_book</mat-icon>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              fxFlex="90"
              fxFlex.lt-md="80"
            >
              <p class="landing-page-text-p">
                {{ t("booksDescription") }}
              </p>
            </div>
          </div>
          <div fxLayout="row" class="landing-page-text-row-right">
            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              fxFlex="90"
              fxFlex.lt-md="80"
            >
              <p class="landing-page-text-p">
                {{ t("filtersDescription") }}
              </p>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="10"
              fxFlex.lt-md="20"
            >
              <mat-icon class="landing-page-text-icon">filter_alt</mat-icon>
            </div>
          </div>
          <div fxLayout="row" class="landing-page-text-row-left">
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="10"
              fxFlex.lt-md="20"
            >
              <mat-icon class="landing-page-text-icon">favorite</mat-icon>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              fxFlex="90"
              fxFlex.lt-md="80"
            >
              <p class="landing-page-text-p">
                {{ t("favoritesDescription") }}
              </p>
            </div>
          </div>
          <div fxLayout="row" class="landing-page-text-row-right">
            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              fxFlex="90"
              fxFlex.lt-md="80"
            >
              <p class="landing-page-text-p">
                {{ t("driveDescription") }}
              </p>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="10"
              fxFlex.lt-md="20"
            >
              <mat-icon class="landing-page-text-icon">add_to_drive</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row"><p>powered by holy kokot</p></div>
  </div>
</ng-container>
