<ng-container *transloco="let t">
  <div fxLayout="column">
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="space-evenly"
      class="landing-page-main-row"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center"
        fxLayoutAlign.lt-md="center center"
        fxFlex="30"
        fxFlex.lt-md="80"
        class="landing-page-title-column"
      >
        <div
          fxLayout="column"
          fxLayoutAlign="center"
          class="landing-page-title-container"
        >
          <h1 class="landing-page-title">Elvíra</h1>
          <p class="landing-page-site-description">
            {{ t("landingPage.siteDescription") }}
          </p>
          <button
            *ngIf="isLoginFormVisible == false"
            mat-stroked-button
            color="accent"
            class="landing-page-login-button"
            type="submit"
            (click)="showLoginForm()"
          >
            {{ t("landingPage.loginButton") }}
          </button>
          <div *ngIf="isLoginFormVisible" class="landing-page-login-container">
            <app-login-form></app-login-form>
          </div>
        </div>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center"
        fxLayoutAlign.lt-md="center center"
        fxFlex="50"
        class="landing-page-text-column"
      >
        <div
          fxLayout="column"
          fxLayoutAlign="space-evenly"
          fxLayoutGap="16px"
          class="landing-page-text-container"
        >
          <div fxLayout="row" class="landing-page-text-row-left">
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="10"
              fxFlex.lt-md="20"
            >
              <mat-icon class="landing-page-text-icon">menu_book</mat-icon>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              fxFlex="90"
              fxFlex.lt-md="80"
            >
              <p class="landing-page-text-p">
                {{ t("landingPage.booksDescription") }}
              </p>
            </div>
          </div>
          <div fxLayout="row" class="landing-page-text-row-right">
            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              fxFlex="90"
              fxFlex.lt-md="80"
            >
              <p class="landing-page-text-p">
                {{ t("landingPage.filtersDescription") }}
              </p>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="10"
              fxFlex.lt-md="20"
            >
              <mat-icon class="landing-page-text-icon">filter_alt</mat-icon>
            </div>
          </div>
          <div fxLayout="row" class="landing-page-text-row-left">
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="10"
              fxFlex.lt-md="20"
            >
              <mat-icon class="landing-page-text-icon">favorite</mat-icon>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              fxFlex="90"
              fxFlex.lt-md="80"
            >
              <p class="landing-page-text-p">
                {{ t("landingPage.favoritesDescription") }}
              </p>
            </div>
          </div>
          <div fxLayout="row" class="landing-page-text-row-right">
            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              fxFlex="90"
              fxFlex.lt-md="80"
            >
              <p class="landing-page-text-p">
                {{ t("landingPage.driveDescription") }}
              </p>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="10"
              fxFlex.lt-md="20"
            >
              <mat-icon class="landing-page-text-icon">add_to_drive</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-page-footer">
      <div fxLayout="row" fxLayoutAlign="center">
        <h3 class="landing-page-powered-by">powered by:</h3>
      </div>
      <div
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="space-evenly"
        fxLayoutAlign.lt-md="center"
      >
        <div fxLayout="row" fxLayoutAlign="center">
          <a href="https://www.fiit.stuba.sk/" target="_blank">
            <img
              src="../../../../assets/logos/fiit_logo.png"
              class="landing-page-image"
            />
          </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <img
            src="../../../../assets/logos/workzone_logo.png"
            class="landing-page-image"
          />
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <a href="https://github.com/Sibyx" target="_blank">
            <img
              src="../../../../assets/logos/sibyx_logo.png"
              class="landing-page-image"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
