.landing-page-main-row {
  min-height: 100vh;
  min-width: 100%;
  align-items: center;
  padding-bottom: 100px;
}

.landing-page-title-container {
  margin-top: 50px;
  align-items: center;
  width: 800px;
  min-width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page-title {
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: 700;
  font-variant: small-caps;
  transform: scale(1, 0.8);
  text-shadow: 0 0 40px rgba(119, 119, 119, 0.7);
  text-align: center;
}

.landing-page-site-description {
  margin-top: -20px;
  font-style: italic;
  font-size: 20px;
  opacity: 0.7;
  text-shadow: 0 0 40px rgba(119, 119, 119, 0.7);
  text-align: center;
}

.landing-page-login-container {
  margin-top: 50px;
  width: 500px;
  height: 400px;
  min-width: 200px;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (max-width: 1250px) {
  .landing-page-title {
    font-size: 78px;
  }

  .landing-page-login-container {
    width: 400px;
  }
}

@media screen and (max-width: 959px) {
  .landing-page-title-container {
    width: 600px;
  }

  .landing-page-site-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 599px) {
  .landing-page-title-container {
    width: 90%;
  }

  .landing-page-login-container {
    width: 300px;
  }

  .landing-page-login-button {
    padding: 10px;
  }
}
