<div fxLayoutAlign="center center" fxFlexFill style="padding-top: 200px;">
  <mat-card  fxFlex="25" >
    <mat-toolbar fxLayoutAlign="center" >Please sign in</mat-toolbar>
    <form [formGroup] = "loginForm" (submit)="submit()" fxLayoutAlign="stretch" fxLayout="column">

        <input formControlName="username" class="form-control" placeholder="Email address" required autofocus>
        <input formControlName="password" type="password"  class="form-control" placeholder="Password" required>

      <button mat-raised-button type="submit">Sign in</button>
    </form>
  </mat-card>
</div>
