.login-card {
  width: 30%;
}

.login-card:focus {
  outline: none;
}

.login-input {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

.login-container {
  min-height: 100vh !important;
  margin-top: -64px;
}

.login-password-icon {
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .login-card {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .login-card {
    width: 90%;
  }
}

@media screen and (max-width: 599px) {
  .login-container {
    min-height: 100vh !important;
    margin-top: -56px;
  }
}
