<div fxLayoutAlign="center center" fxLayout="column"  fxFlexFill class="login-row">
    <h1 fxLayoutAlign="start" fxLayout="row" >Prihlásenie</h1>
    <form [formGroup] = "loginForm" (submit)="submit()" fxLayoutAlign="stretch" fxLayout="column" class="login-box">
    <div >
    <mat-form-field  appearance="fill" class="login-form-width" >
      <mat-label>Login</mat-label>
        <input matInput formControlName="username" style="padding: 0 .75em 0 .75em;" required>
    </mat-form-field >
  </div>
  <div >
    <mat-form-field appearance="fill" class="login-form-width">
      <mat-label>Heslo</mat-label>
        <input matInput formControlName="password"  type="password" style="padding: 0 .75em 0 .75em;" required >
    </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="submit" class="login-button" >Prihlásiť sa</button>
      </div>
    </div>
  </form>
</div>

