.navbar-container {
  height: 100px;
  background-color: rgba(22, 22, 22, 0.9);
  padding: 16px 16px 0 16px;
}

.navbar-first-column {
  height: 100%;
  flex: 1;
}

.navbar-image {
  height: 50%;
  cursor: pointer;
}

.navbar-image-offline {
  margin-top: 15px;
}

.navbar-buttons-container {
  justify-content: flex-start;
  align-items: flex-end;
  height: 50%;
}

.navbar-main-button {
  display: flex;
  margin-right: 16px;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 17px;
  padding: auto;
  transition: tansform 1s ease;
}

.navbar-main-button:hover {
  transform: scale(1.05);
  border-bottom: 2px solid #ffc107;
}

.navbar-second-column {
  height: 100%;
  flex: 2;
}

.navbar-top-row {
  height: 40%;
  justify-content: flex-end;
  align-items: flex-start;
}

.navbar-bottom-row {
  height: 60%;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar-bottom-row button {
  margin: 0;
  margin-left: 5px;
}

.navbar-bottom-row mat-icon {
  width: 30px;
  font-size: 30px;
}

.navbar-button {
  display: flex;
  margin-left: 16px;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 17px;
  padding: auto;
}

.navbar-icon {
  margin-right: 10px;
}

.navbar-button-theme-switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80px;
  height: 30px;
  margin-left: 16px;
  background: none;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.navbar-account-button {
  font-size: 30px;
  height: 100%;
  width: 30px;
}

.navbar-button-theme-circle {
  position: absolute;
  margin-left: -6px;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  /* white color for the circle */
  transition: transform 0.3s ease;
}

.navbar-button-theme-circle-dark-mode {
  transform: translateX(40px);
  /* Move the circle to the left in dark mode */
}

.navbar-acc-picture {
  width: 30px;
  border-radius: 50%;
}

.navbar-form {
  height: 100%;
  width: 70%;
}

.navbar-form-field-container {
  height: 100%;
}

.navbar-form-field {
  flex: 1;
  max-width: 500px;
  height: 100%;
  color: white;
  font-size: 17px;
}