.navbar-container {
  height: 100px;
  background-color: rgba(22, 22, 22, 0.9);
  padding: 16px 16px 0 16px;
}

.navbar-first-column {
  height: 100%;
  flex: 1;
}

.navbar-images-first-row {
  height: 50%;
  justify-content: flex-start;
  align-items: flex-end;
}

.navbar-image {
  height: 100%;
  cursor: pointer;
}

.navbar-image-stu-logo {
  height: 80%;
  margin: auto 30px;
  cursor: pointer;
}

.navbar-first-column-offline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 16px;
}


.navbar-buttons-container {
  justify-content: flex-start;
  align-items: flex-end;
  height: 50%;
}

.navbar-main-button {
  display: flex;
  margin-right: 16px;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 17px;
  padding: auto;
  transition: tansform 1s ease;
}

.navbar-main-button:hover {
  transform: scale(1.05);
  border-bottom: 2px solid #ffc107;
}

.navbar-second-column {
  height: 100%;
  flex: 2;
}

.navbar-top-row {
  height: 40%;
  justify-content: flex-end;
  align-items: flex-start;
}

.navbar-bottom-row {
  height: 60%;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar-bottom-row button {
  margin: 0;
  margin-left: 5px;
}

.navbar-bottom-row mat-icon {
  width: 30px;
  font-size: 30px;
}

.navbar-button {
  display: flex;
  margin-left: 16px;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 17px;
  padding: auto;
}

.navbar-icon {
  margin-right: 10px;
}

.navbar-button-theme-switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80px;
  height: 30px;
  margin-left: 16px;
  background: none;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.navbar-account-button {
  font-size: 30px;
  height: 100%;
  width: 30px;
}

.navbar-button-theme-circle {
  position: absolute;
  margin-left: -6px;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  /* white color for the circle */
  transition: transform 0.3s ease;
}

.navbar-button-theme-circle-dark-mode {
  transform: translateX(40px);
  /* Move the circle to the left in dark mode */
}

.navbar-acc-picture {
  width: 30px;
  border-radius: 50%;
}

.navbar-form {
  height: 100%;
  width: 50%;
}

.navbar-form-field-container {
  height: 100%;
}

.navbar-form-field {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.navbar-form-input {
  height: 60%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 17px;
  color: white;
  border-bottom: 2px solid;
  margin-bottom: 5px;
}

.navbar-form-input::placeholder {
  color: white;
  font-weight: 300;
}

.navbar-form-input::-webkit-search-cancel-button {
  display: none;
}

.navbar-form-input:focus {
  border-bottom: 2px solid #ffc107;
}

.navbar-filter-button {
  color: white;
  cursor: pointer;
  font-weight: 300;
  margin-left: 16px;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: transform 0.7s ease, margin-bottom 0.7s ease;
}

.navbar-filter-button:hover {
  color: #ffc107;
}

.filters-container {
  position: fixed;
  top: 100px;
  overflow: hidden;
  right: 0;
  height: 0;
  width: 300px;
  transition: height 0.7s ease;
}

.filters-inner-container {
  padding: 16px;
  background-color: rgba(22, 22, 22, 0.9);
}

.filters-container-opened {
  height: 230px;
}

.filter-title {
  color: white;
  font-size: 15px;
}

.filter {
  display: flex;
  font-size: 15px;
  margin-left: 20px;
  color: white;
}

.filter-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-left: 20px;
  color: #00bcd4;
  cursor: pointer;
}

.filter-icon-delete {
  color: rgb(255, 40, 40);
  cursor: pointer;
}

.animate {
  transform: rotate(180deg);
  margin-bottom: 0;
}