<ng-container *transloco="let t">
  <div>

    <!-- Feed  -->
    <div class="feed-container" (click)="onNextClick()">
      <mat-icon> book </mat-icon>
      <div>{{ feed.title }}</div>
      <p>{{ feed.content }}</p>
    </div>

    <!-- Action buttons -->
    <div fxLayout="row" fxLayoutAlign="space-around center" style="background-color: #00bcd4;">

      <!-- Edit button -->
      <button mat-icon-button matTooltip="{{ t('lazy.feed.edit-tooltip') }}" (click)="onEditClick()">
        <mat-icon style="font-size: 25px;"> edit </mat-icon>
      </button>

      <!-- Delete button -->
      <button mat-icon-button matTooltip="{{ t('lazy.feed.delete-tooltip') }}" (click)="onDeleteClick()">
        <mat-icon style="font-size: 25px;"> delete </mat-icon>
      </button>
    </div>
  </div>
</ng-container>