.account-settings-container {
  padding: 16px 0;
}

.account-settings-form {
  padding: 0 20px;
}

.account-settings-title {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.account-settings-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.account-settings-icon {
  font-size: 24px;
  color: #000;
}

.account-settings-label {
  color: #000;
  font-weight: bold;
}

.account-settings-google-icon {
  margin-top: -4px;
}

@media screen and (max-width: 599px) {
  .account-settings-container {
    padding: 16px;
  }

  .account-settings-form {
    padding: 0;
  }

  .account-settings-toggle {
    padding-left: 10px;
  }
}
