.summary-textfield {
  height: 80px;
}

.admin-box {
  margin-top: 50px;
  padding-bottom: 50px;
}
.dropzone {
  height: 170px;
  width: inherit;
  margin-left: 0;
  margin-right: 0;
  border-radius: 1px;
  opacity: 0.5;
  position: relative;
  border-style: dashed;
  h4 {
    margin-top: 0.5rem;
  }
  .input-file {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .btn-remove-file {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.urlzone {
  height: 170px;
  h4 {
    margin-top: 0.5rem;
  }
}
.fileOver {
  opacity: 1;
}

.drag-and-drop-box {
  border-style: dashed;
}

.back-to-admin-button {
  position: fixed;
  top: 100px;
  right: 200px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 10px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.example-tree div[role="group"] > .mat-tree-node {
  padding-left: 10px;
}
