.mobile-sidenav-container {
  padding-top: 10px;
}

.mobile-sidenav-close-button {
  position: absolute; 
  top: 5px; 
  right: 0;
}

.mobile-sidenav-icon {
  margin-right: 15px;
}

.mobile-sidenav-home-button {
  background-color: rgba(white, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: none;
  padding: 10px;
}

.mobile-sidenav-bottom-container {
  position: absolute; 
  bottom: 0;
}

span {
  font-size: 17px;
}

button {
  margin-bottom: 10px;
}

