.mobile-sidenav-container {
  padding: 16px;
}

.mobile-sidenav-icon {
  margin-right: 15px;
}

.mobile-sidenav-home-button {
  background-color: rgba(white, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: none;
  padding: 10px;
}

.mobile-sidenav-bottom-container {
  position: absolute;
  bottom: 0;
}

span {
  font-size: 17px;
}

.mobile-sidenav-button {
  margin-bottom: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-self: center;
  align-items: flex-start;
}