.mobile-sidenav-container {
  padding-top: 56px;
}

.mobile-sidenav-icon {
  margin-right: 15px;
}

.mobile-sidenav-sidebar {
  width: 100%;
}

.mobile-sidenav-home-button {
  width: 100%;
  background-color: white;
}
