.reader-settings-container {
  background-color: transparent !important;
  padding: 16px;
  flex: 1;
}

.reader-settings-title {
  padding: 10px;
  border-bottom: 5px solid #ffc107;
  margin-bottom: 16px;
}

p {
  width: 50%;
  text-align: justify;
}

@media screen and (max-width: 599px) {
  p {
    width: 95%;
  }
}