<div fxLayout="row" class="footer-container">
  <div class="footer-main-content-container" fxLayout="row" fxLayoutAlign="space-evenly center">
    <img src="../../../../assets/logos/title_logo.png" alt="elvira-logo" class="footer-image">
    <img src="../../../../assets/logos/fiit_logo.png" alt="elvira-logo" class="footer-image">
    <h5>O projekte</h5>
    <h5>Nastavenie čítačky</h5>
  </div>
  <div class="footer-version-container">
    <p>verzia 1.x.x (<a href="">change log</a>)</p>
  </div>
</div>