.footer-container {
  flex: 1;
  margin-top: 32px;
  padding: 16px;
  background-color: rgba(30, 30, 30, 0.9);
}

.footer-main-content-container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image {
  height: 30px;
  cursor: pointer;
}

.footer-version-container {
  flex: 1;
  display: flex;
}

p {
  margin: 0;
  color: white;
}

.footer-button {
  cursor: pointer;
  transition: color 0.5s ease;
}

.footer-button:hover {
  color: #ffc107;
}

span {
  color: #0d6efd;
  border-bottom: 1px solid #0d6efd;
  cursor: pointer;
}