<div class="footer-container" fxLayout.gt-sm="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
  <div class="footer-main-content-container" fxLayout.gt-sm="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign="space-evenly center" fxLayoutGap="16px">
    <img src="../../../../assets/logos/title_logo.png" alt="elvira-logo" class="footer-image">
    <img src="../../../../assets/logos/fiit_logo.png" alt="elvira-logo" class="footer-image">
    <h5>O projekte</h5>
    <h5>Nastavenie čítačky</h5>
  </div>
  <div class="footer-version-container" fxLayoutAlign.gt-sm="end center" fxLayoutAlign.sm="center center"
    fxLayoutAlign.xs="center center">
    <p>verzia 1.x.x (<a href="">change log</a>)</p>
  </div>
</div>