span {
  padding-right: 1rem;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.nav-label {
  font-size: large;
  vertical-align: baseline;
}

.nav-label-text {
  font-size: large;
  font-variant: small-caps;
}
