<ng-container *transloco="let t">
  <mat-tab-group elTabGroup mat-align-tabs="center">
    <mat-tab label="Documents">
      <ng-template matTabContent>
        <app-document-management></app-document-management>
      </ng-template>
    </mat-tab>
    <mat-tab label="Feeds">
      <ng-template matTabContent>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="50"
            class="admin-overview-feed-management-container"
          >
            <mat-card fxFill>
              <app-feed-management fxFill></app-feed-management>
            </mat-card>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-container>
