.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.app-mobile-sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
}

.app-background-light {
  background-image: url("../assets/light_bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.app-background-dark {
  background-image: url("../assets/dark_bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.app-content {
  min-height: 100vh !important;
  padding-top: 100px;
  overflow: hidden !important;
}

@media screen and (max-width: 599px) {
  .app-mobile-sidenav {
    width: 100%;
  }
}