<div>
  <mat-sidenav-container>
    <mat-sidenav 
    mode="over" 
    [opened]="sidenavState" 
    [disableClose]="true" 
    class="app-mobile-sidenav"
    >
      <app-mobile-sidenav></app-mobile-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div [ngClass]="background">
        <div class="app-content">
          <app-header class="app-header"></app-header>
          <router-outlet></router-outlet>
        </div> 
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
