.notfound-container {
  min-height: 100vh !important;
}

.notfound-card {
  padding: 40px;
}

.notfound-title {
  font-size: 120px;
  font-weight: 700;
  color: #00bcd4;
  padding: 0 140px 0 0;
  text-shadow: 1px 1px 5px #525252;
}

.notfound-text {
  font-size: 35px;
  font-weight: 200;
}

.notfound-button {
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}
