.entries-list-container {
  padding: 16px;
}

.favorites-paginator {
  width: 100%;
  margin: 0 16px;
}

.favorites-empty-row {
  width: 100%;
  margin: 150px 0;
}

.favorites-empty-text {
  font-weight: 300;
}
