.favorite-entries-container {
  background-color: transparent !important;
  padding: 16px;
  height: 100%;
  width: 100%;
}

.favorites-paginator {
  width: 100%;
  margin: 0 16px 16px 16px;
}

.favorites-empty-row {
  width: 100%;
  text-align: center;
  margin: 150px 0;
}

.favorites-empty-text {
  font-weight: 300;
}
