.favorite-entries-container {
  padding-top: 16px;
  padding-left: 16px;
  margin: 0 !important;
}

.favorites-paginator {
  width: 100%;
  margin: 0 16px 16px 16px;
}

.favorites-empty-row {
  width: 100%;
  margin: 150px 0;
}

.favorites-empty-text {
  font-weight: 300;
}
