.entry-detail-container:hover {
  text-decoration: underline;
}

.entry-detail-card {
  height: fit-content;
  padding: 0 !important;
}

.entry-detail-image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.entry-detail-image {
  margin: 0 !important;
  width: 100%;
  height: 20vw;
  object-fit: fill;
  cursor: pointer;
  transition: transform 1s ease;
}

.entry-detail-image:hover {
  transform: scale(1.05);
}

.entry-detail-title {
  font-size: 17px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
}

.entry-detail-title-one-row {
  font-size: 17px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 1;
  -moz-box-orient: vertical;
}

.entry-detail-content {
  padding: 5px;
  position: absolute;
  display: flex;
  bottom: 0;
}

.entry-detail-content-show {
  padding: 5px;
  position: absolute;
  display: flex;
  bottom: 40px;
}

.entry-detail-actions {
  background-color: #00bcd4;
}

.entry-detail-feeds-container {
  display: flex;
  align-items: center;
}

.entry-detail-feed {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2px 5px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffc107;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.entry-detail-feed:hover {
  background-color: rgba(#ffc107, 0.5);
}

@media screen and (max-width: 1280px) {
  .entry-detail-image {
    height: 35vw;
  }
}

@media screen and (max-width: 960px) {
  .entry-detail-image {
    height: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .entry-detail-image {
    height: 120vw;
  }
}
