<ng-container *transloco="let t">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="feed-header-box"
  >
    <!-- Searchbar -->
    <form [formGroup]="search_form" (submit)="applyFilter()" class="feed-form">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field color="accent" class="feed-form-field">
          <mat-label>
            {{ t("lazy.documentManagement.search") }}
          </mat-label>

          <!-- Input -->
          <input matInput formControlName="search_input" type="text" />
        </mat-form-field>

        <!-- Button for submit -->
        <button mat-icon-button type="submit" color="accent">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>

    <!-- Back button -->
    <button (click)="goBack()" mat-raised-button color="primary">
      {{ t("lazy.documentManagement.feed") }}
    </button>
  </div>

  <!-- Feeds list -->
  <div class="feed-container">
    <div>
      <div
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayoutAlign.xs="none"
        fxLayoutGap="16px grid"
      >
        <div
          fxFlex="20%"
          fxFlex.md="33.3%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          (click)="createFeed()"
        >
          <!-- Add button -->
          <div class="feed-add-feed">
            <mat-icon class="feed-add-icon">add</mat-icon>
          </div>
        </div>

        <!-- Feeds -->
        <div
          fxFlex="20%"
          fxFlex.md="33.3%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          *ngFor="let feed of data_source"
        >
          <app-admin-feed
            [feed]="feed"
            (nextClicked)="nextFeeds($event)"
            (editClicked)="editFeed($event)"
            (deleteClicked)="deleteFeed($event)"
          ></app-admin-feed>
        </div>
      </div>
    </div>
  </div>
</ng-container>
