.feed-container {
  background-color: transparent !important;
  padding: 0 16px 16px 16px;
  height: 100%;
  width: 100%;
}

.feed-header-box {
  padding: 20px 16px;
  width: 100%;
}

.feed-form-field {
  width: 100%;
}

.feed-form {
  width: 50%;
}

.feed-feeds-container {
  margin-bottom: 16px;
}

.feed-add-feed {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #00bcd4;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.feed-add-feed:hover {
  background-color: rgba(#00bcd4, 0.1);
}

.feed-add-icon {
  width: 100px;
  height: 100px;
  font-size: 100px;
  color: #ffc107;
}


.feed-paginator {
  width: 100%;
}