.main-table {
  width: 95%;
  margin-top: 20px;
}

.search-bar {
  width: 60%;
}

.header-box {
  padding-top: 30px;
  width: 100%;
}

.paginator-size {
  width: 95%;
}

.full-box {
  padding-bottom: 50px;
}
