.entry-info-title {
  border-bottom: 2px solid #ffc107;
  margin-bottom: 16px;
}

.entry-info-paragraph {
  width: 100%;
}

.entry-info-paragraph-title {
  font-weight: bold;
}

.entry-info-feed {
  display: flex;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 10px;
  background-color: #00bcd4;
}