<ng-container *transloco="let t">
  <h1 mat-dialog-title fxLayoutAlign="center center">
    {{ t("lazy.updateFeedDialog.title") }} {{ data.title }}
  </h1>
  <mat-dialog-content [formGroup]="newFeedForm">

    <mat-form-field appearance="fill" fxFill>
      <mat-label>{{ t("lazy.updateFeedDialog.feedTitle") }} *</mat-label>
      <input matInput formControlName="feedTitle" placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="fill" fxFill>
      <mat-label>{{ t("lazy.updateFeedDialog.feedContent") }} *</mat-label>
      <input matInput formControlName="feedContent" />
    </mat-form-field>

    <mat-form-field appearance="fill" fxFill>
      <mat-label>{{ t("lazy.updateFeedDialog.feedKind") }} *</mat-label>
      <mat-select formControlName="feedKind">
        <mat-option value="navigation">
          {{ t("lazy.updateFeedDialog.navigationFeed") }}
        </mat-option>
        <mat-option value="acquisition">
          {{ t("lazy.updateFeedDialog.acquisitionFeed") }}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field appearance="fill" fxFill>
      <mat-label>{{ t("lazy.updateFeedDialog.parentFeed") }} *</mat-label>
      <mat-select formControlName="feedsParentName">
        <mat-option value="">
          {{ t("lazy.updateFeedDialog.empty") }}
        </mat-option>
        <div *ngFor="let feed of navigationFeeds">
          <mat-option [value]="feed.id">
            {{ feed.title }}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-flat-button (click)="onNoClick()">
      {{ t("lazy.updateFeedDialog.cancel") }}
    </button>

    <button
      mat-flat-button
      (click)="onYesClick()"
      color="primary"
      cdkFocusInitial
    >
      {{ t("lazy.updateFeedDialog.edit") }}
    </button>
  </mat-dialog-actions>
</ng-container>
