<ng-container *transloco="let t">
  <h1 mat-dialog-title fxLayoutAlign="center center">
    {{ t("lazy.updateFeedDialog.title") }} {{ data.title }}
  </h1>

  <!-- Feed form  -->
  <mat-dialog-content [formGroup]="feed_form">

    <!-- Title -->
    <mat-form-field appearance="fill" fxFill>
      <mat-label>{{ t("lazy.updateFeedDialog.feedTitle") }} *</mat-label>
      <input matInput formControlName="feed_title" placeholder="" />
    </mat-form-field>

    <!-- Content -->
    <mat-form-field appearance="fill" fxFill>
      <mat-label>{{ t("lazy.updateFeedDialog.feedContent") }} *</mat-label>
      <input matInput formControlName="feed_content" />
    </mat-form-field>

    <!-- Kind -->
    <mat-form-field appearance="fill" fxFill>
      <mat-label>{{ t("lazy.updateFeedDialog.feedKind") }} *</mat-label>
      <mat-select formControlName="feed_kind">
        <mat-option value="navigation">
          {{ t("lazy.updateFeedDialog.navigationFeed") }}
        </mat-option>
        <mat-option value="acquisition">
          {{ t("lazy.updateFeedDialog.acquisitionFeed") }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Picked parents feeds -->
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px" class="update-feed-feed-list">
      <mat-chip-list>
        <mat-chip *ngFor="let feed of picked_feeds" [removable]="true" (removed)="removeFeed(feed)" [selectable]="false"
          color="accent" selected>
          {{ feed }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <!-- Choose parents -->
    <mat-form-field appearance="fill" fxFill>
      <mat-label>{{ t("lazy.updateFeedDialog.parentFeed") }}</mat-label>
      <mat-select formControlName="feed_parents">

        <!-- Empty -> no parents -->
        <mat-option value="" (click)="clearEverything()">
          {{ t("lazy.updateFeedDialog.empty") }}
        </mat-option>

        <!-- List of navigation feeds -->
        <div *ngFor="let feed of navigation_feeds">
          <mat-option [value]="feed.id" (click)="addFeed({title: feed.title, id: feed.id})">
            {{ feed.title }}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <!-- Action buttons -->
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">

    <!-- Cancel button -->
    <button mat-flat-button (click)="onNoClick()">
      {{ t("lazy.updateFeedDialog.cancel") }}
    </button>

    <!-- Edit button -->
    <button mat-flat-button (click)="onYesClick()" color="primary" cdkFocusInitial>
      {{ t("lazy.updateFeedDialog.edit") }}
    </button>
  </mat-dialog-actions>
</ng-container>