.navbar-container {
  height: 120px;
  background-color: rgba(22, 22, 22, 0.9);
  padding: 16px 5px 0 16px;
}

.mobile-navbar-menu-button {
  position: absolute;
  top: 0;
  right: 5px;
  color: white;
}

.navbar-home-button-container {
  height: 40%;
  width: 100%;
}

.navbar-home-button {
  height: 100%;
  border: none;
  background: none;
}

img {
  height: 100%;
}
 
.mobile-navbar-bottom-row {
  height: 60%;
  width: 100%;
}

.mobile-navbar-form {
  height: 100%;
  flex: 1;
}

.mobile-navbar-form-field-container {
  height: 100%; 
  padding-top: 7px;
}

.mobile-navbar-form-field {
  flex: 1;
  height: 100%;
  padding-bottom: 20px;
  color: white;
  font-size: 15px;
}

@media screen and (max-width: 599px) {
  img {
    height: 70%;
  }
}