:host {
  .material-icons {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &.animate {
      transform: rotate(180deg);
    }
  }
}

img {
  height: 20px;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  background-color: black;
  padding: 0 16px;
}

.navbar-home-button-div {
  height: 35px;
  display: flex; 
  padding-right: 16px;
  align-items: center;
  justify-content: center;
  font-size: 18px; 
  color: white; 
  border: none;
  background: none;
}