.mobile-navbar-container {
  box-sizing: border-box;
  height: 100px;
  background-color: rgba(22, 22, 22, 0.9);
  padding: 16px 16px 0 16px;
}

.mobile-navbar-upper-row {
  height: 40%;
  width: 100%;
}

.mobile-navbar-image-stu-logo {
  height: 60%;
}

.navbar-elvira-img {
  height: 80%;
}

.mobile-navbar-bottom-row {
  display: flex;
  height: 60%;
  width: 100%;
}

.mobile-navbar-form {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  padding-right: 32px;
}

.mobile-navbar-form-field-container {
  height: 100%;
  flex: 1;
}

.mobile-navbar-form-input {
  height: 50%;
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
  border-bottom: 1px solid white;
}
.mobile-navbar-form-input::placeholder {
  color: white;
  font-weight: 300;
}
.mobile-navbar-form-input::-webkit-search-cancel-button {
  display: none;
}
.mobile-navbar-form-input:focus {
  border-bottom: 1px solid #ffc107;
}

.mobile-navbar-menu-button {
  color: white;
}
