.home-container {
  background-color: transparent !important;
  position: absolute;
  padding-top: 16px;
  display: flex;
  align-items: center;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.home-column-container {
  width: 70%;
}

.home-titles {
  width: 50%;
  font-size: 25px;
  border-bottom: 2px solid #ffc107;
  margin-bottom: 16px;
  padding-bottom: 5px;
}

.home-feeds-container {
  flex: 1;
  margin-right: 16px;
}

.home-popular-container {
  padding-bottom: 30px;
}

@media screen and (max-width: 1250px) {
  .home-container {
    padding: 16px;
  }

  .home-column-container {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .home-container {
    padding: 0 16px 16px;
  }

  .home-titles {
    width: 100%;
  }

  .home-feeds-container {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
