.sidenav-container {
  background-color: transparent !important;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.entries-list-container {
  padding: 16px;
}

@media screen and (max-width: 599px) {
  .sidenav-container {
    background-color: transparent !important;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.paginator-size {
  width: 95%;
  margin-bottom: 30px;
}
