.home-container {
  background-color: transparent !important;
  padding: 16px;
  display: flex;
  align-items: center;
  flex: 1;
}

.home-column-container {
  width: 70%;
}

.home-titles {
  width: 50%;
  font-size: 25px;
  border-bottom: 2px solid #ffc107;
  margin-bottom: 16px;
  padding-bottom: 5px;
}

.home-feeds-container {
  flex: 1;
  margin-right: 16px;
}

.home-feed-row-container {
  height: 100%;
}

.home-feed-element {
  height: 50%;
}

.home-popular-container {
  padding-bottom: 30px;
}

.home-last-added-container {
  flex: 1; 
  margin-top: 16px;
}

@media screen and (max-width: 1250px) {

  .home-column-container {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .home-titles {
    width: 100%;
  }

  .home-feeds-container {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
