<ng-container *transloco="let t">
  <mat-card class="entry-detail-card">

    <!-- No image -->
    <div class="entry-detail-image-container">
      <div *ngIf="imageSrc === 'none'; else image">
        <img mat-card-image src="../../../../assets/no_image.png" class="entry-detail-image" />
      </div>

      <!-- If there is image -->
      <ng-template #image>
        <img mat-card-image [src]="imageSrc" class="entry-detail-image" />
      </ng-template>
    </div>

    <!-- Feeds -->
    <div class="entry-detail-content">
      <div fxLayout="row wrap" fxLayoutGap="5px" class="entry-detail-feeds-container">
        <div *ngFor="let feed of entry.feeds">
          <div class="entry-detail-feed">
            {{ feed.title }}
          </div>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div fxLayout="row" fxLayoutAlign="space-around" class="entry-detail-actions">

      <!-- Edit -->
      <button mat-icon-button matTooltip="{{ t('lazy.entryDetail.edit-tooltip') }}" (click)="onEditClick()">
        <mat-icon> edit </mat-icon>
      </button>

      <!-- Delete -->
      <button mat-icon-button matTooltip="{{ t('lazy.entryDetail.delete-tooltip') }}" (click)="onDeleteClick()">
        <mat-icon> delete </mat-icon>
      </button>
    </div>
  </mat-card>

  <!-- Entry title -->
  <div class="entry-detail-title" [title]="entry.title">
    {{ entry.title }}
  </div>
</ng-container>