.all-entries-container {
  background-color: transparent !important;
  padding: 16px 0 16px 16px;
  height: 100%;
  width: 100%;
}

.entries-list-container {
  margin: 0 !important; 
}

.home-paginator {
  width: 100%;
  margin-right: 16px;
}

@media screen and (max-width: 959px) {
  .all-entries-search-field {
    width: 80%; 
  }
}

