.all-entries-container {
  background-color: transparent !important;
  padding: 16px 0 16px 16px;
  height: 100%;
  width: 100%;
}

.all-entier-filter-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 16px;
  margin-bottom: 16px;
}

.all-entries-no-filter {
  text-align: center; 
  margin-top: 16px;
}

.all-entries-filer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  cursor: pointer;
  color: black;
  font-size: 15px;
  background-color: #ffc107;
  transition: background-color 0.5s ease;
}

.all-entries-filer-button:active {
  background-color: rgba(#ffc107, 0.5);
}

.all-entries-filter-icon {
  margin-left: 10px;
}

.all-entries-filter-rows-container {
  width: 50%;
}


.all-entries-row {
  width: 100%;
  margin-top: 16px;
  border-bottom: 2px solid #ffc107;
}

.all-entries-delete-filter {
  color: red;
  cursor: pointer;
}

span {
  font-size: 15px;
}

.entries-list-container {
  margin: 0 !important; 
}

.home-paginator {
  width: 100%;
  margin-right: 16px;
}

@media screen and (max-width: 959px) {
  .all-entries-search-field {
    width: 80%; 
  }
  .all-entries-filter-rows-container {
    width: 100%;
  }
}

