@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
*,
*::after,
*::before {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: sans-serif !important;
  scrollbar-width: thin !important; /* For Firefox */
  scrollbar-color: black transparent !important; /* For Firefox */
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-button {
  display: none !important;
}

::-webkit-scrollbar-thumb {
  background-color: black !important;
  border-radius: 20px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

/* Full-Height and Full-Width for Root Elements */
html,
body,
#root {
  height: 100vh !important;
  width: 100vw !important;
}
