@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  scrollbar-width: thin !important; /* For Firefox */
  scrollbar-color: #555 transparent !important; /* For Firefox */
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 2px !important;
}
::-webkit-scrollbar-button {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
::-webkit-scrollbar-thumb {
  background-color: #888 !important;
  border-radius: 20px !important;
}
::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Full-Height and Full-Width for Root Elements */
html,
body,
#root {
  height: 100vh !important;
  width: 100vw !important;
}

#loader div:nth-child(1) {
  animation-delay: -0.32s;
}
#loader div:nth-child(2) {
  animation-delay: -0.16s;
}

@layer base {
  button {
    @apply focus:outline-none;
  }
  input {
    @apply focus:outline-none;
  }
}

@layer components {
  .fiit-border {
    @apply border-primary-fiit dark:border-primary-fiit;
  }
  .fad-border {
    @apply border-primary-fad dark:border-primary-fad;
  }
  .fchpt-border {
    @apply border-primary-fchpt dark:border-primary-fchpt;
  }
  .fei-border {
    @apply border-primary-fei dark:border-primary-fei;
  }
  .mtf-border {
    @apply border-primary-mtf dark:border-primary-mtf;
  }
  .sjf-border {
    @apply border-primary-sjf dark:border-primary-sjf;
  }
  .svf-border {
    @apply border-primary-svf dark:border-primary-svf;
  }

  .fiit-bg {
    @apply bg-primary-fiit;
  }
  .fad-bg {
    @apply bg-primary-fad;
  }
  .fchpt-bg {
    @apply bg-primary-fchpt;
  }
  .fei-bg {
    @apply bg-primary-fei;
  }
  .mtf-bg {
    @apply bg-primary-mtf;
  }
  .sjf-bg {
    @apply bg-primary-sjf;
  }
  .svf-bg {
    @apply bg-primary-svf;
  }

  .fiit-text {
    @apply text-primary-fiit;
  }
  .fad-text {
    @apply text-primary-fad;
  }
  .fchpt-text {
    @apply text-primary-fchpt;
  }
  .fei-text {
    @apply text-primary-fei;
  }
  .mtf-text {
    @apply text-primary-mtf;
  }
  .sjf-text {
    @apply text-primary-sjf;
  }
  .svf-text {
    @apply text-primary-svf;
  }

  .fiit-bg-hover {
    @apply hover:bg-primary-fiit dark:hover:bg-primary-fiit;
  }
  .fad-bg-hover {
    @apply hover:bg-primary-fad dark:hover:bg-primary-fad;
  }
  .fchpt-bg-hover {
    @apply hover:bg-primary-fchpt dark:hover:bg-primary-fchpt;
  }
  .fei-bg-hover {
    @apply hover:bg-primary-fei dark:hover:bg-primary-fei;
  }
  .mtf-bg-hover {
    @apply hover:bg-primary-mtf dark:hover:bg-primary-mtf;
  }
  .sjf-bg-hover {
    @apply hover:bg-primary-sjf dark:hover:bg-primary-sjf;
  }
  .svf-bg-hover {
    @apply hover:bg-primary-svf dark:hover:bg-primary-svf;
  }

  .fiit-border-focus {
    @apply focus:border-primary-fiit dark:focus:border-primary-fiit;
  }
  .fad-border-focus {
    @apply focus:border-primary-fad dark:focus:border-primary-fad;
  }
  .fchpt-border-focus {
    @apply focus:border-primary-fchpt dark:focus:border-primary-fchpt;
  }
  .fei-border-focus {
    @apply focus:border-primary-fei dark:focus:border-primary-fei;
  }
  .mtf-border-focus {
    @apply focus:border-primary-mtf dark:focus:border-primary-mtf;
  }
  .sjf-border-focus {
    @apply focus:border-primary-sjf dark:focus:border-primary-sjf;
  }
  .svf-border-focus {
    @apply focus:border-primary-svf dark:focus:border-primary-svf;
  }
}
