<ng-container
  *transloco="let t;"
>
<h1 mat-dialog-title fxLayoutAlign="center center">{{ t('lazy.adminDialog.create-feed')}}</h1>
<div mat-dialog-content fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field appearance="fill">
    <mat-label>{{ t('lazy.adminDialog.new-feed')}}</mat-label>
    <input matInput [(ngModel)]="newFeed">
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">
  <button mat-flat-button (click)="onNoClick()">{{ t('lazy.adminDialog.cancel')}}</button>
  <button mat-flat-button (click)="onYesClcik()" color="primary" cdkFocusInitial>{{ t('lazy.adminDialog.create')}}</button>
</div>
</ng-container>
