.all-entries-container {
  background-color: transparent !important;
  padding: 16px 0 16px 16px;
  flex: 1;
}

.entries-list-empty {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 300px;
  padding-right: 16px;
}

.all-entries-not-found-icon {
  margin-top: 30px;
  font-size: 80px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: color 1s ease, transform 1s ease;
}

.all-entries-not-found-icon:hover {
  color: #ffc107;
  transform: scale(1.05);
}

.entries-list-container {
  margin: 0 !important;
}

.home-paginator {
  width: 100%;
  margin-right: 16px;
}

@media screen and (max-width: 959px) {
  .all-entries-search-field {
    width: 80%;
  }
}