.library-container {
  background-color: transparent !important;
  padding: 16px 66px 16px 16px;
  flex: 1;
}

.library-tools-container {
  width: 50px;
  position: fixed;
  top: 116px;
  right: 16px;
  bottom: 0;
}

.library-tools {
  width: 100%;
  height: max(60%, 400px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(22, 22, 22, 0.9);
}

.library-tools-buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.library-tools-filter-button {
  width: 100%;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}

.library-tools-button {
  width: 100%;
  padding: 10px 0;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: pre-wrap;
  border-left: 3px solid rgba(22, 22, 22, 0.9);
  border-right: 3px solid rgba(22, 22, 22, 0.9);
}

.library-tools-active-button {
  border-left: 3px solid #ffc107;
  border-right: 3px solid #ffc107;
}

.library-tools-button-span {
  font-size: 15px;
}

.entries-list-empty {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  font-size: 50px;
  padding-right: 16px;
}

.library-not-found-icon {
  margin-top: 30px;
  font-size: 80px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: color 0.5s ease, transform 0.2s ease;
}

.library-not-found-icon:hover {
  color: #ffc107;
  transform: scale(1.05);
}

.entries-list-container {
  margin: 0 !important;
}

.home-paginator {
  width: 100%;
  margin-right: 16px;
}

@media screen and (max-width: 959px) {
  .library-container {
    padding: 76px 0px 16px 16px;
  }

  .library-tools-container {
    height: 60px;
    top: 100px;
    width: 100%;
    right: 0;
    z-index: 5;
  }

  .library-tools {
    height: 100%;
    width: max(100%, 280px);
    padding: 0 10px;
    border-radius: 0;
  }

  .library-tools-filter-button {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .library-tools-buttons-container {
    height: 100%;
    width: fit-content;
  }

  .library-tools-button {
    height: 100%;
    padding: 0 10px;
    border: none;
    border-bottom: 3px solid rgba(22, 22, 22, 0.9);
  }

  .library-tools-active-button {
    border-bottom: 3px solid #ffc107;
  }

  .library-search-field {
    width: 80%;
  }
}
